<!DOCTYPE html>
<html>
<head>

	<title>Hello world!</title>
</head>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- CDN VueJS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 -->
 <script type="text/javascript" src="vue.js"></script>
<body>

	

	<div id="app" class="container">
			
			<h3>Contenido</h3>

			<br>

			{{titulo}}

			<ul>
				<li v-for="fruta of frutas">
					<div class="col-md-6">
						<div class="row">					
						<div class="col-md-2">
							{{fruta.nombre}}
						</div>
						<div class="col-md-4">
							<button class="col-md-1" @click="fruta.cantidad--">-</button> 
							<input class="col-md-2" type="number" v-model.number="fruta.cantidad">
							<button class="col-md-1" @click="fruta.cantidad++">+</button>
							<span v-if="fruta.cantidad === 0">
					- Sin stock
				</span>
						</div>
						</div>
						
					</div>
					 - 
					
					
					
				</li>
			</ul>
			<br>
			<br>
			<h4>total de frutas: {{sumarFruta}}</h4>
			<br>
			<br>


			<div>
				<h3>V-model</h3>
				<br>
				<input type="text" name="name" v-model="nuevaFruta" input @keyup.enter="agregarFruta">
				<button @click="agregarFruta">Agregar</button>
				<br>
				<br>
				<div>
					{{nuevaFruta}}
				</div>
				
			</div>

	</div>


 <script src="vue.js"></script>
 <script type="text/javascript" src="javascript.js"></script>	
</body>
</html>