body
{
color: blue;
}

.sidebar
{
	background: blue;
	color: white;
}

.navbar
{
	color: white;
	background: black;
}

.side
{
	background: red;
}

.footer
{
	background: white;
	color: black;
}